body {
  background-image: url("https://img.freepik.com/free-vector/light-pink-heart-pattern_53876-67660.jpg?semt=ais_incoming&w=740&q=80");
  background-color: hsl(0, 100%, 85%);
  background-blend-mode: overlay;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  font-family: Georgia, serif;
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas1 {
  background-image: url("https://thumbs.dreamstime.com/b/empty-bakery-counter-cart-under-umbrella-vector-illustration-white-background-rack-shelves-menu-sheet-237129418.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#myCanvas2 {
  border: 1px solid black;
  border-radius: 30px;
}


